/* CSS declarations go here */
* {
	box-sizing: border-box;
}

#wrapper {
	position: realtive;
	margin-top: -20px;
}

header {
	background: #33ccff;
}

#sidebar-wrapper {
	padding-bottom: 100px;
}

.social_icons {
position: relative;
display: block;
}

.social_icons figure {
	width: 12%;
	display: inline-block;
	position: realtive;
}

.social_icons figure img {
	width:80px;
	margin: 0 auto;
}

.example_work figure {
width: 30%;
display: inline-block;
}

.example_work figure img {
	width: 300px;
	display: inline-block;
	position: relative;
}

.img-thumbnail {
	max-height:100px;
}

figure figcaption {
color: #444;
opacity: 0.8;
text-align:center;
margin: 0 auto;
height: 50px;
font-weight: bold;
}


