/* CSS declarations go here */
* {
	box-sizing: border-box;
}

header {
	background: #000;
}
header h1 {
	padding:10px;
	color: #33ccff;
	margin: 0px;
}

#sidebar-wrapper {

}

.social_icons {
position: relative;
display: block;
}

.social_icons figure {
	width: 12%;
	display: inline-block;
	position: realtive;
}

.social_icons figure img {
	width:80px;
	margin: 0 auto;
}

.example_work figure {
width: 100%;
display: inline-block;
position: relative;
overflow:hidden;
}

.example_work figure img {
	width: 300px;
	display: inline-block;
	position: relative;
}

.img-thumbnail {
	max-height:200px;
}

figure {
	margin: 10px 0px;
}

figure div {
	min-height: 150px;
	min-width:100px;
	width: 100%;
}

figure figcaption {
color: #444;
opacity: 0.8;
text-align:center;
margin: 0 auto;
}

figure figcaption .bold-header {
	font-weight: bold;
}

figure figcaption .italic {
	font-style: italic;
}

figure figcaption .bold-blue {
	color: #0066FF;
	font-weight: bold;
	text-align: right;
	
}

.featurette-image {
background-size: 500px;
position: relative;
max-width: 300px !important;
}

.preview_div figure {
	display: inline-block;
	overflow:hidden;
	width: 100%;
	max-width: auto;
	max-height: 100%;
}

.preview_div figure .featurette-image {
	display: inline-block;
	overflow:hidden;
	background-size: 100%;
	background-repeat: none;
	max-width: auto;
	max-height: 100%;
	width: 50%;
}

.preview_div {
	position: relative;
	display: block;
}

.description {
	display: none;
}

.close_box {
	display:none;
}

.preview_div .description {
	display: inline-block;
	width:40%;
	border: 1px solid #00f;
}

.preview_div .close_box {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}

.cmt {
	background-image: url('images/portfolio/redeye/cmt.png');
}

.seg {
	background-image: url('images/portfolio/redeye/seg.png');
}

.placeholder-construction {
	background-image: url('images/portfolio/redeye/placeholder-construction.png');
	background-size: 100%;
	background-position: center top;
}

.servcrm {background-image: url('images/portfolio/ps/servcrm.png');}
.web {background-image: url('images/portfolio/ps/web.png');}
.cbswebportal   {background-image: url('images/portfolio/ps/cbswebportal.png');}          
.dashboard         {background-image: url('images/portfolio/ps/dashboard.png');}      
.salesandcalls {background-image: url('images/portfolio/ps/salesandcalls.png');}
.salescalculator {background-image: url('images/portfolio/ps/salescalculator.png');}
.linkit {background-image: url('images/portfolio/ps/linkit-3-screen.png');}

.jiggle{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow:hidden;
}

.jiggle img:hover
{
-webkit-transform:rotate(-15deg);
-moz-transform:rotate(-15deg);
-o-transform:rotate(-15deg);
}

.dehighlight {
font-size: 15px;
color: #aaa;
}

.close_box {
	border: 3px solid #0f0;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0px;
	right: 0px;
}

.img-responsive.pull-right {
	margin-top: 20px;
}
